.nav-item-container ul li {
    display: flex;
    justify-content: center;
}

.nav-item-container ul li img {
    max-width: 70%;
}

.sign-in-button {
    cursor: pointer;
    align-items: center;
    border-radius:  25px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: .875rem;
    font-weight: 600;
    background-color: #797DFC;
    color: white;
}