/* body {
    width: 80%;
    margin: auto;
} */

.nav-item-container ul li {
    display: flex;
    justify-content: center;
}

.nav-item-container ul li img {
    max-width: 70%;
}

.sign-in-button {
    cursor: pointer;
    align-items: center;
    border-radius: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: .875rem;
    font-weight: 600;
    background-color: #797DFC;
    color: white;
}

.banner {
    /* background: url('./images/bgbanner.png'); */
    background: #24253f;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 100px;
    border-radius: 20px;
}

.banner .left-side {}

.banner .left-side h1 {
    font-size: 64px;
    line-height: 1.2;

}

.banner .left-side p {
    font-size: 20px;
}

.banner .right-side {
    background: white;
    color: #24253f;
    padding: 48px;
    border-radius: 20px;
    width: 35%;
}

.banner .right-side>div {
    display: flex;
    justify-content: space-between;
}

.join-our-forum{
    background-color: #24253f;
    color: white;
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}